# System artifacts
.DS_Store

# Python build artifacts
__pycache__
.ipynb_checkpoints

# Package distribution files
**/dist/
*.egg-info/

# Virtual environments
.venv/
venv/

# Secret files
.env

# Custom ignores
_*
!__init__.py
test*
todo.txt